header.header
  .header__container
    img(src="img/logo.png", width="94", height="45", alt="Logotype").header__logo-icon
    .header__btn-wrap
      a.header__btn.btn.btn--mob-hidden(href="/registration.html") Регистрация
      a.header__btn.btn.btn--dark.btn--left-24(href="/log-in.html") Войти
