.footer {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: $dark;

  @media (max-width: 767px) {
    background-color: unset;
  }
}

.footer__container {
  @include container;
}

.footer__flex {
  display: flex;
  margin-bottom: 20px;
}

.footer__logo {
  flex-shrink: 0;

  @media (max-width: 767px) {
    display: none;
  }
}

.footer__social {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 116px;

  @media (max-width: 767px) {
    padding-right: unset;
  }
}

.footer__social-link {
  margin-left: 15px;
  margin-right: 15px;
}

.footer__social-icon {
  path {
    fill: $dark;
  }
}

.footer__content {
  color: #ffffff;
  font-size: 13px;

  p {
    margin-top: unset;
    margin-bottom: 13px;
    line-height: 1.2;
  }

  @media (max-width: 767px) {
    color: $dark;
  }
}
