@import "../../local_modules/normalize.css/normalize";
@import "../mixins/mixins";
@import "../utils/variables";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $bg-color;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: $dark;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-bordered {
  border: 1px solid #dee2e6;
  border-collapse: collapse;

  td,
  th {
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 14px;
  }

  th {
    font-weight: 500;
  }
}

.content {
  h1,
  h2,
  h3 {
    font-weight: 500;
  }
}
