@import "../mixins/mixins";
@import "../utils/variables";

.questions {
  display: block;
  margin-bottom: 140px;

  @media (max-width: 991px) {
    margin-bottom: 100px;
  }

  @media (max-width: 767px) {
    margin-bottom: unset;
    padding-top: 44px;
    padding-bottom: 62px;
    background: linear-gradient(180deg, #ededed 0, rgba(237, 237, 237, 0) 105.15%);
  }
}

.questions__container {
  @include container;
}

.questions__item-title {
  font-size: 24px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: unset;
  margin-bottom: 10px;
  position: relative;
  padding-right: 40px;

  &::after {
    transition: 0.2s ease-out;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 17px;
    background: url("../../img/arrow.svg");

    @media (max-width: 991px) {
      width: 22px;
      height: 14px;
      background-size: cover;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &.active::after {
    transform: rotate(180deg);
  }

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 767px) {
    text-decoration: unset;
    font-size: 20px;
  }
}

.questions__item-text {
  margin-top: unset;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 27px;
  max-width: 980px;
  line-height: 1.4;

  p {
    margin-bottom: unset;
    margin-top: unset;
  }
}
