@import "../mixins/mixins";
@import "../utils/variables";

.registration {
  display: block;
}

.registration__banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../img/bg-blonde.jpg");
  background-size: cover;
  background-position-x: 75%;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.registration__container {
  @include container;

  display: flex;
  align-items: center;
  min-height: 100vh;
}

.registration__title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  margin-top: unset;
  margin-bottom: 15px;

  @media (max-width: 500px) {
    font-size: 24px;
  }
}

.registration__form-wrap {
  width: 100%;
  max-width: 282px;
  margin-left: 25%;
  margin-top: 100px;
  margin-bottom: 200px;

  @media (max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 255px;
  }

  @media (max-width: 500px) {
    max-width: 234px;
  }
}

.registration__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
