@import "../mixins/mixins";
@import "../utils/variables";

.statistic {
  display: block;
  margin-bottom: 112px;

  @media (max-width: 991px) {
    margin-bottom: 60px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.statistic__container {
  @include container;

  display: flex;
  justify-content: space-between;
}

.statistic__item {
  max-width: 320px;
  width: 100%;
  padding: 16px 24px;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(185, 185, 185, 0.25);
  background: #ffffff;
  min-height: 122px;
  margin-top: -66px;

  @media (max-width: 1024px) {
    max-width: 280px;
  }

  @media (max-width: 991px) {
    max-width: 212px;
    padding: 15px 10px;
    min-height: 82px;
    margin-top: -41px;
  }
}

.statistic__item-count {
  font-size: 36px;
  line-height: 1.1;
  margin-top: unset;
  margin-bottom: 16px;
  font-weight: 300;

  @media (max-width: 991px) {
    font-size: 24px;
  }
}

.statistic__item-text {
  font-size: 16px;
  line-height: 1.1;
  margin-top: unset;
  margin-bottom: unset;
  font-weight: 500;

  @media (max-width: 991px) {
    font-size: 14px;
  }
}

.statistic__item-icon {
  @media (max-width: 991px) {
    width: 31px;
    height: 31px;
  }
}
