extends common/layout-log-in

block content
  main.main
    .registration
      .registration__banner
      .registration__container
        .registration__form-wrap
          h1.registration__title Регистрация
          form.form.registration__form
            .form__line
              input#phone.form__input(type="tel", name="phone", required)
              label.form__label(for="phone") Телефон
            .form__line
              input#login.form__input(type="text", name="login", required)
              label.form__label(for="login") Логин
            .form__line
              input#pass.form__input(type="password", name="pass", required)
              label.form__label(for="pass") Ваш пароль
              .form__pass-eye
            .form__line
              input#pass-conf.form__input(type="password", name="pass_conf", required)
              label.form__label(for="pass-conf") Подтвердите пароль
              .form__pass-eye
            .form__checkbox
              input#agree(type="checkbox", name="agree", required)
              label.form__checkbox-label(for="agree") Согласен с
                |
                |
                a#modalBtn.form__link(href="#modal") правилами
            button.form__submit.btn(type="submit") Зарегистрироваться
            p.form__text Есть аккаунт?
              |
              |
              a.form__link(href="/log-in.html") Вход
            #modal.modal
              .modal-content
                .modal-header
                  span.close &times;
                  h2 Договор оферты
                .modal-body.content
                  |<p style="text-align: center;">по исполнению поручения по поиску и привлечению физических лиц (потенциальных клиентов ООО «Прокредит») для совершения ООО «Прокредит» комплекса услуг по их консультированию в сфере кредитования</p>
                  |<p style="display:flex;justify-content:space-between"><span>г. Минск</span><span>«___» __________ 202_ г.</span></p>
                  |<h2>1.	УСЛОВНЫЕ СОГЛАШЕНИЯ</h2>
                  |<p>1.1. Условные соглашения - это определения, присутствующие в настоящем Договоре, являющиеся его неотъемлемой частью.</p>
                  |<p>1.2. Определения трактуются исходя из их сущности и содержания настоящего Договора. Ниже приведен список этих определений:</p>
                  |<p>1.3. Компания – Общество с ограниченной ответственностью «Прокредит», УНП 192824533. Юр. адрес и почтовый адрес: РБ, 220069, г. Минск, пр-т. Дзержинского, д. 22, офис 356.</p>
                  |<p>1.4. Агент - физическое лицо, отвечающее требованиям настоящего Договора, прошедшее процедуры Регистрации и Авторизации и безоговорочно принявшее настоящий Договор в соответствии с его требованиями.</p>
                  |<p>1.5. Сайт – https://agent.procredit.by/. Сайт предоставляет Агенту (при условии его Регистрации и Авторизации) возможность использования Сервиса Прокредит в части предоставления Агентом Компании контактных данных потенциальных клиентов Компании (имя и отчество, мобильный номер телефона), полученные в результате их поиска.</p>
                  |<p>1.6. Потенциальный клиент – физическое лицо, заинтересованное и согласившееся с получением информационно-консультационной услуги от Компании по вопросам в области кредитования, получения займа, заключения лизинговой сделки в лизинговой компании или иной кредитно-финансовой организации, и предоставившее свое согласие на передачу персональных данных Агентом компании.</p>
                  |<p>1.7. Сервис Прокредит – площадка, предоставляемая зарегистрированным и авторизованным Агентам с помощью Сайта, заключающаяся в предоставлении Агентам возможности передачи Компании контактных данных потенциальных клиентов Компании (имя и отчество, мобильный номер телефона), полученные в результате их поиска Агентом.</p>
                  |<p>1.8. Регистрация Агента – совершение Агентом и Компанией определенного набора действий, зафиксированного в настоящем Договоре.</p>
                  |<p>1.9. Авторизация Агента - осуществление определенного набора действий, зафиксированного в настоящем Договоре, в целях идентификации зарегистрированного Агента для последующего пользования Сервисом Прокредит посредством Сайта.</p>
                  |<p>1.10. Служба поддержки – структурное подразделение Компании, осуществляющее консультационную поддержку Агентов, помощь Агентам и их информирование в процессе предоставления Компанией Сервиса Прокредит. Поддержка и информирование осуществляются при обращении Агента в Службу поддержки по электронной почте: info@procredit.by</p>
                  |<p>1.11. Акцепт предложения – прохождение процедуры регистрации в соответствии с Разделом 3 настоящего Договора, посредством которой Агент подтверждает своё согласие с условиями настоящего Договора. После совершения Акцепта Договора Агент считается принявшим безоговорочно и в целом условия настоящего Договора.</p>
                  |<p>1.12. Термины, употребляемые по тексту настоящего Соглашения в единственном числе, могут подразумевать множественное число, и наоборот.</p>
                  |<h2>2. ПРЕДМЕТ ДОГОВОРА</h2>
                  |<p>2.1. Настоящий договор является публичной офертой (п.2. ст.407 Гражданского Кодекса Республики Беларусь) и регулирует отношения по исполнению поручения Компании по поиску и направлению Потенциальных клиентов для совершения Компанией комплекса услуг по консультированию в сфере кредитования Потенциальных клиентов, а также по использованию Сервиса «Прокредит», адресован Компанией любому дееспособному физическому лицу, отвечающему требованиям настоящего Договора, намеревающегося стать Агентом Компании. Соглашение может быть принято Агентом не иначе как путем присоединения к нему в целом. Перед использованием Сервисов Сайта ООО «Прокредит» Агентом обязательно внимательное прочтение настоящего Договора и безоговорочное принятие всех его условий.</p>
                  |<h2>3. АКЦЕПТ ДОГОВОРА</h2>
                  |<p>3.1. Текст настоящего Договора является публичной офертой (в соответствии со статьей 405 и п.2 ст. 407 Гражданского кодекса Республики Беларусь).</p>
                  |<p>3.2. Настоящий договор оферты размещен на официальном сайте Компании https://agent.procredit.by/ и является официальным документом.</p>
                  |<p>3.3. Для использования Сервиса Прокредит Агент обязан в порядке, установленном настоящим Договором, подтвердить, что прочитал, понял, согласен соблюдать настоящий Договор в целом путём осуществления Регистрации и Авторизации на Сайте (совершить Акцепт Договора).</p>
                  |<p>3.4. Использование Сервиса возможно только при условии Регистрации Агента на Сайте и Авторизации в соответствии с последовательностью действий, установленной Сайтом.</p>
                  |<p>3.5. Для Регистрации Агента на Сайте Агент заполняет анкету, предоставляя требуемую в этой анкете информацию (Ф.И.О., дата рождения, место прописки, контактный номер телефона, адрес электронной почты и пароль).</p>
                  |<p>3.6. В последующем при Авторизации на Сайте логином для доступа к личному кабинету Агента является номер мобильного телефона или электронная почта, указанные Агентом при Регистрации.</p>
                  |<p>3.7. В случае, если Агент предоставляет недостоверную или нечитаемую информацию, либо, если у Компании есть основания полагать, что представленная Агентом информация недостоверна, Компания вправе по своему усмотрению заблокировать доступ Агента к использованию Сайта.</p>
                  |<p>3.8. По окончании Регистрации Агента доступ к Сайту осуществляется при введении Агентом логина и пароля.</p>
                  |<p>3.9. Агент обязуется сохранять в тайне логин и пароль, а также иные данные, посредством которых может быть получен доступ к Сайту от имени Агента. В случае утраты логина либо пароля, либо при наличии оснований полагать, что этими данными (а также иными данными) завладело третье лицо, Агент обязан с использованием контактных данных, указанных им при Регистрации, подать в Компанию запрос о блокировании доступа в личный кабинет (путем отправки на электронный адрес Компании, либо обратившись в Службу поддержки), после чего получить другой пароль, а по согласованию с Компанией, также логин. Запрос о блокировании доступа в личный кабинет рассматривается Компанией в течение 3 (трех) часов с момента направления запроса. Агент несет все риски, вытекающие из невыполнения данного обязательства.</p>
                  |<p>3.10. По окончании Регистрации все вызовы в Службу поддержки осуществляются с номера мобильного телефона, указанного при заполнении анкеты, либо иного номера телефона при условии предоставления Агентом дополнительных данных по запросу сотрудника Службы поддержки.</p>
                  |<p>3.11. Агент может изменить номер мобильного телефона, указанный им при Регистрации, обратившись в Службу поддержки или по электронной почте info@procredit.by , при этом оператору Службы поддержки Агентом сообщается контрольная информация. Компания информирует Агента об изменении номера мобильного телефона, указанного при Регистрации, на новый номер, путем направления sms-сообщения на новый номер мобильного телефона.</p>
                  |<p>3.12. Агент подтверждает, что все действия, совершенные с использованием Учетной записи Агента, после Авторизации Агента на Сайте с использованием Логина и Пароля Учетной записи Агента являются действиями Агента.</p>
                  |<h2>4. ОБЯЗАННОСТИ И ПРАВА СТОРОН</h2>
                  |<p>4.1. Обязанности Агента:</p>
                  |<p>4.1.1. Проводить поиск потенциальных клиентов для Компании и направлять их контактные данные в адрес Компании посредствам Сервиса;</p>
                  |<p>4.1.2. Предоставлять Компании данные, полученные в результате поиска Потенциальных клиентов.</p>
                  |<p>4.2. Обязанности Компании:</p>
                  |<p>4.2.1. Проводить необходимые консультации Агента по всем необходимым вопросам в рамках предмета Договора.</p>
                  |<p>4.2.2. Своевременно и полностью оплачивать Агенту вознаграждение, причитающееся ему в соответствии с настоящим Договором.</p>
                  |<p>4.2.3. Предусмотренные в настоящем Договоре права и обязанности Агента не могут толковаться расширительно, в частности:<br>Агент не вправе вести какую-либо деятельность от имени Компании в качестве его уполномоченного представителя, не предусмотренную настоящим Договором;<br>Агент не вправе принимать от потенциальных Клиентов Компании денежные средства, вести с ними расчеты или иным образом действовать от имени Компании как уполномоченное лицо в этой сфере.</p>
                  |<p>4.3. Агент имеет право:</p>
                  |<p>4.3.1. Агент имеет право на получение вознаграждения в соответствии с Разделом 5 настоящего Договора.</p>
                  |<p>4.3.2. Агент пользуется независимостью в отношении собственной деятельности.</p>
                  |<p>4.4. Компания имеет право:
                  |</p><p>4.4.1. Осуществлять на территории Республики Беларусь и вне ее пределов самостоятельную деятельность, аналогичную деятельности Агента, составляющей предмет настоящего Договора.</p>
                  |<p>4.4.2. Осуществлять иные права, предусмотренные Договором.</p>
                  |<p>4.4.3. Компания не обязана возмещать Агенту дополнительные расходы, связанные с исполнением настоящего Договора. Все возможные расходы Агента входят в сумму вознаграждения Агента в соответствии с Разделом 5.</p>
                  |<h2>5. ВОЗНАГРАЖДЕНИЕ АГЕНТА</h2>
                  |<p>5.1. Вознаграждение Агента начисляется за каждый Договор, заключенный между Компанией и Потенциальным клиентом при содействии Агента, при условии оплаты Клиентом услуг и в соответствии с Приложением 1 к настоящему Договору в зависимости от кредитного продукта и статуса Агента.</p>
                  |<p>5.2. Срок выплаты вознаграждения составляет 5 календарных дней с момента запроса Агента на выплату вознаграждения посредствам Сервиса.</p>
                  |<p>5.3. Компания обеспечивает уплату за Агента в установленном порядке обязательных страховых взносов на государственное социальное страхование в Фонд социальной защиты населения Министерства труда и социальной защиты Республики Беларусь в соответствии с Законом Республики Беларусь от 29.02.1996 № 138-XIII «Об обязательных страховых взносах в Фонд социальной защиты населения Министерства труда и социальной защиты Республики Беларусь» и Указом Президента Республики Беларусь от 16.01.2009 № 40  «О Фонде социальной защиты населения Министерства труда и социальной защиты».</p>
                  |<p>5.4. Для получения вознаграждения Агент проходит верификацию посредством технических возможностей Сервиса и направляет Компании:</p>
                  |<p>5.4.1. фотографию паспорта:</p>
                  |<p>5.4.1.1. страницы 31-33;</p>
                  |<p>5.4.1.2. страницу с данными о регистрации по месту жительства/пребывания;</p>
                  |<p>5.4.2. личную фотографию (селфи) совместно с паспортом (сторона с фотографией);</p>
                  |<p>5.4.3. информации о своем карт-счете и реквизитах банка, в котором он открыт.</p>
                  |<p>Все фотоизображения должны быть четкими, текст читаемым. Нечеткость фотографий является основанием для отказа в верификации.<br>
                  |Компания вправе запрашивать, а Агент обязуется предоставить дополнительный перечень документов (фото и/или оригинал), требуемый Компанией.</p>
                  |<h2>6. ОТВЕТСТВЕННОСТЬ СТОРОН</h2>
                  |<p>6.1. Меры ответственности сторон, не предусмотренные настоящим Договором, применяются в соответствии с законодательством Республики Беларусь.</p>
                  |<p>6.2. За невыполнение или ненадлежащее выполнение обязательств по настоящему Договору Агент и Компания несут ответственность в соответствии с условиями настоящего Договора и действующим законодательством Республики Беларусь.</p>
                  |<h2>7. ФОРС-МАЖОР</h2>
                  |<p>7.1. При возникновении форс-мажорных обстоятельств, исключающих или объективно препятствующих исполнению данного Договора, Стороны не имеют взаимных претензий, и каждая из Сторон принимает на себя свой риск последствий этих обстоятельств.</p>
                  |<h2>8. РАЗРЕШЕНИЕ СПОРОВ</h2>
                  |<p>8.1. Споры и разногласия, возникающие при исполнении настоящего Договора, будут решаться путем переговоров между сторонами настоящего Договора.</p>
                  |<p>8.2. В случае, если указанные в п. 8.1. настоящего Договора споры и разногласия не могут быть решены указанным способом, они подлежат урегулированию в судебном порядке в соответствии с действующим законодательством Республики Беларусь.</p>
                  |<h2>9. СРОК ДЕЙСТВИЯ ДОГОВОРА</h2>
                  |<p>9.1. Настоящий Договор вступает в силу с момента акцепта его Агентом и действует 1 (один) календарный год с даты акцепта. В случае, если ни одна из сторон не позднее, чем за 30 (тридцать) календарных дней до окончания срока действия настоящего Договора не заявит о своем намерении расторгнуть Договор, Договор автоматически пролонгируется на каждый последующий календарный год.</p>
                  |<p>9.2. Компания вправе в любой момент отказаться от исполнения настоящего Договора без предварительного уведомления Агента, выплатив последнему причитающееся к моменту отказа от Договора вознаграждение.</p>
                  |<h2>10. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>
                  |<p>10.1. Ни одна из Сторон настоящего Договора не вправе каким-либо образом передавать свои права и обязанности по настоящему Договору третьим лицам без предварительного письменного согласия другой стороны.</p>
                  |<p>10.2. Компания вправе в одностороннем порядке изменить условия договора.</p>
                  |<p>10.3. Переписка между сторонами, а также обмен информацией и уведомлениями, осуществляется по электронной почте и посредством Сервиса.</p>
                  |<h2>11. РЕКВИЗИТЫ КОМПАНИИ</h2>
                  |<p>Компания: Общество с ограниченной ответственностью «Прокредит»<br>
                  |УНП 192824533<br>Юр. адрес и почтовый адрес: РБ, 220069, г. Минск, пр-т. Дзержинского, д. 22, офис 356<br>IBAN: BY77PJCB30120597291000000933 в "ПРИОРБАНК" ОАО Г. МИНСК<br>БИК: PJCBBY2X</p>
                  |<h3>Приложение 1<br>к Договору оферты</h3>
                  |<h2>Вознаграждение Агента</h2>
                  |<p>1. Вознаграждение Агента формируется исходя из утвержденных тарифов и определяется следующим образом:</p>
                  |<div class="table-responsive">
                  |<table class="table table-bordered">
                  |<thead>
                  |<tr>
                  |<th></th>
                  |<th colspan="5">Статус агента</th>
                  |</tr><tr>
                  |<th>Вид продукта</th>
                  |<th>Базовый</th>
                  |<th>Бронзовый</th>
                  |<th>Золотой</th>
                  |<th>Платиновый</th>
                  |<th>Бриллиантовый</th>
                  |</tr>
                  |</thead>
                  |<tbody>
                  |<tr>
                  |<td>Потребительский кредит</td>
                  |<td>20,00<br>бел.руб.</td>
                  |<td>25,00<br>бел.руб.</td>
                  |<td>30,00<br>бел.руб.</td>
                  |<td>35,00<br>бел.руб.</td>
                  |<td>40,00<br>бел.руб.</td>
                  |</tr>
                  |<tr>
                  |<td>Рефинансирование</td>
                  |<td>20,00<br>бел.руб.</td>
                  |<td>25,00<br>бел.руб.</td>
                  |<td>30,00<br>бел.руб.</td>
                  |<td>35,00<br>бел.руб.</td>
                  |<td>40,00<br>бел.руб.</td>
                  |</tr>
                  |<tr>
                  |<td>Автокредит</td>
                  |<td>20,00<br>бел.руб.</td>
                  |<td>25,00<br>бел.руб.</td>
                  |<td>30,00<br>бел.руб.</td>
                  |<td>35,00<br>бел.руб.</td>
                  |<td>40,00<br>бел.руб.</td>
                  |</tr>
                  |<tr>
                  |<td>Кредит на жилье</td>
                  |<td>50,00<br>бел.руб.</td>
                  |<td>62,50<br>бел.руб.</td>
                  |<td>75,00<br>бел.руб.</td>
                  |<td>87,50<br>бел.руб.</td>
                  |<td>100,00<br>бел.руб.</td>
                  |</tr>
                  |<tr>
                  |<td>Кредитование бизнеса</td>
                  |<td>50,00<br>бел.руб.</td>
                  |<td>62,50<br>бел.руб.</td>
                  |<td>75,00<br>бел.руб.</td>
                  |<td>87,50<br>бел.руб.</td>
                  |<td>100,00<br>бел.руб.</td>
                  |</tr>
                  |<tr>
                  |<td>Под залог авто</td>
                  |<td>20,00<br>бел.руб.</td>
                  |<td>25,00<br>бел.руб.</td>
                  |<td>30,00<br>бел.руб.</td>
                  |<td>35,00<br>бел.руб.</td>
                  |<td>40,00<br>бел.руб.</td>
                  |</tr>
                  |<tr>
                  |<td>Под залог недвижимости</td>
                  |<td>50,00<br>бел.руб.</td>
                  |<td>62,50<br>бел.руб.</td>
                  |<td>75,00<br>бел.руб.</td>
                  |<td>87,50<br>бел.руб.</td>
                  |<td>100,00<br>бел.руб.</td>
                  |</tr>
                  |<tr>
                  |<td>РКО
                  |</td><td>10,00<br>бел.руб.</td>
                  |<td>10,00<br>бел.руб.</td>
                  |<td>10,00<br>бел.руб.</td>
                  |<td>10,00<br>бел.руб.</td>
                  |<td>10,00<br>бел.руб.</td>
                  |</tr>
                  |</tbody>
                  |</table>
                  |</div>
                  |<p>2. Сумма вознаграждения, подлежащая к выплате Агенту, доступна для вывода с учетом положений п.5.1. настоящего Договора и при достижении общей минимальной суммы в размере 100 (ста) белорусских рублей и выплачивается по запросу Агента путем перечисления денежных средств на расчетный счет (карт-счет) Агента, указанный в Профиле Агента.</p>
                  |<br>
